<h2>FOUND!</h2>

<p>We found an item matching your search:</p>

<p><b><%= @id %></b> - <%= @serial_number %> - <em> <%= @description %> </em> - <%= @quantity %> - $<%= @cost %> - Location: <%= @location_id %> - Category: <%= @category_id %></p>